.add_table{
    border: 0px;
    width: 270px;
}
.btn_close{
    width: 30px;
}
.ipt_select{
    width: 238px;
    height: 25px;
}
.ipt_text{
    width: 235px;
    height: 20px;
}
.btn_add,.btn_close{
    margin-right: 25px;
    display: block;
    float: right;
}
.add_textarea{
    width: 235px;
    height: 120px;
}